@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@900&display=swap');

.App {
  text-align: center;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body {
  padding: 5rem;
}

a {
  margin-right: 30px;
}

.page {;
  overflow: hidden;
  position: absolute;
}

.page-enter-active {
  animation: fade-in 1s forwards;
}

.page-exit-active {
  animation: fade-out 1s forwards;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
  filter: brightness(50%);
}

.button_music {
  color: white;
  border: 0;
  width: 1.5%;
  height: 1.5%;
  position: fixed;
  right: 0;
  top: 0;
}

.github_icon {
  width: 5%;
  height: 5%;
  position: fixed;
  top: 50%;
  left: 41%;
  overflow: auto;
}

.telegram_icon {
  width: 5%;
  height: 5%;
  position: fixed;
  top: 50%;
  left: 49%;
  overflow: auto;
}

.discord_icon {
  width: 5%;
  height: 5%;
  position: fixed;
  top: 50%;
  left: 57%;
  overflow: auto;
}

.about_me_icon {
  width: 4%;
  height: 4%;
  position: absolute;
  top: 93%;
  left: 0;
  overflow: auto;

}

.from_about_me_to_main_icon {
  width: 4%;
  height: 4%;
  position: absolute;
  top: 83%;
  left: 0;
  overflow: auto;

}

.messages_icon {
  width: 4%;
  height: 4%;
  position: absolute;
  top: 73%;
  left: 0;
  overflow: auto;

}

.name_text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 4.9vw;
  width: 80%;
  height: 80%;
  position: fixed;
  top: 37%;
  left: 40.8%;
  overflow: auto;
}

.about_me_text {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-size: 2.7vw;
  width: 80%;
  height: 80%;
  position: fixed;
  top: 15%;
  left: 5%;
  overflow: auto;
}


.photo_style {
  width: 8vw;
  height: 8vw;
  overflow: hidden;
  position: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.start_image {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background-size: cover;
  filter: brightness(50%);
  z-index: 999998;
  opacity: 1;
  transition: .9s opacity ease-in-out, .9s z-index ease-out;
}

.start_text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 4vw;

  position: absolute !important;
  top: 45%;
  left: 39%;
  overflow: auto;
  z-index: 999999;
}

.start_button {
  cursor: pointer;
  width: 5%;
  height: 5%;
  position: absolute;
  top: 55%;
  left: 47.5%;
  overflow: auto;
  z-index: 999999;
}

::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.comment_name {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 3vw;
  width: 50%;
  height: 100%;
  overflow: unset;
  color: white;
}

.comment {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 3vw;
  width: 100%;
  height: 100%;

  overflow: unset;
  color: white;
}

.comment_button {
  cursor: pointer;
  font-size: 2.7vw;
  width: 3%;
  height: 3%;
  top: 15%;
  left: 5%;
  overflow: auto;
}